<h4> <%= link_to "Home", root_url %></h4>
<h2> Search for Flights! </h2>

<%= form_with url: flights_path, method: :get do |f| %>
  <%= f.label :id; "Search for Flights" %><br />
  From: <%= select_tag(:start_airport_id, options_for_select(@to_airport_options)) %>
  To: <%= select_tag(:finish_airport_id, options_for_select(@to_airport_options)) %><br />
  Passengers? <%= f.select :passengers, ["1", "2", "3", "4"] %>
  <p> When do you wanna travel? </p>
  <%= f.collection_select :start, Flight.all.order("start ASC"), :start, :start_time_formatted %>
  <%= f.submit "Search" %>
<% end %>

<h4> We found <%= @flights.count %> flights! </h4>

<p>
  <% @flights.each do |f| %>
    <strong><%= f.start_airport.code %></strong> to 
    <strong><%= f.finish_airport.code %></strong>
    Starts at: <%= f.start.to_s(:long) %><br />
  <% end %>
  <%= params[:passengers] %>
  <%= params[:start_airport_id] %>
  <%= params[:finish_airport_id] %>
  <%= params[:start] %>
</p>

<p>
  <%= form_with model: @flight, method: :get do |f| %>
    <%= f.collection_radio_buttons :flight_id, @flights.order(:start), :id, :display_flight_info %> </br>
    <%= f.submit "I wann fly" %>
  <% end %>
</p>